/* Стили для головы */
.head {
    width: 400px;
    height: 275px;
    background-color: plum;  /* цвет головы */      /* круглая форма */
    margin-left: 100px;
    margin-top: 100px;

  /* центрирование */
}

/* Стили для глаза */
.lefteye {
    width: 100px;
    height: 75px;
    background-color:orange; /* цвет глаза */      /* круглый глаз */
    position: relative;
    top: 30px;
    left: 50px;
}
.righteye {
   width: 100px;
    height: 75px;
    background-color:orange; /* цвет глаза */      /* круглый глаз */
    position: relative;
    top: -45px;
    left: 250px;
}
/* зрачки */
.leftpupil {
    width: 30px;
    height: 50px;
    background-color:black; /* цвет глаза */      /* круглый глаз */
    position: absolute;
    top: 25px;
    left: 70px;
}
.rightpupil {
    width: 30px;
    height: 50px;
    background-color:black; /* цвет глаза */      /* круглый глаз */
    position: absolute;
    top: 25px;
    left: 0px;
}
/* уши */
.leftear {
    width: 100px;
    height: 75px;
    background-color: plum;  /* цвет головы */      /* круглая форма */
    position: relative;       /* для позиционирования глаза */
    left: 25px;
    top: -225px;

}
.rightear {
    width: 100px;
    height: 75px;
    background-color: plum;  /* цвет головы */      /* круглая форма */
    position: relative;       /* для позиционирования глаза */
    left: 275px;
    top: -300px;

}
.leftearinside{
    width: 70px;
    height: 50px;
    background-color: black;  /* цвет головы */      /* круглая форма */
    position: relative;  
    left: 15px;
    top: 25px;    /* для позиционирования глаза */
}
.rightearinside{
    width: 70px;
    height: 50px;
    background-color: black;  /* цвет головы */      /* круглая форма */
    position: relative;  
    left: 15px;
    top: 25px;    /* для позиционирования глаза */
}
.nose{
    width: 100px;
    height: 50px;
    background-color: beige;  /* цвет головы */      /* круглая форма */
    position: relative;
    top: -175px;
    left: 150px;
}
.leftnostril{
   width: 25px;
   height: 30px;
   background-color: palevioletred;  
   position: relative;
   top: 20px;
   left: 10px;
}
.rightnostril{
   width: 25px;
   height: 30px;
   background-color: palevioletred;  
   position: relative;
   top: -10px;
   left: 65px;
}
.mouse{
   width: 200px;
   height: 50px;
   background-color: red;  
   position: relative;
   top: -150px;
   left: 100px;
}
#blacktoothe{
   width: 30px;
   height: 25px;
   background-color: black;  
   position: relative;
   left: 30px;
}
#whitetoothe{
   width: 30px;
   height: 25px;
   background-color: white;  
   position: relative;
   left: 30px;
}
.neck{
   width: 175px;
   height: 50px;
   background-color: plum;  
   position: relative;
   left: 115px;
   bottom: 125px;
}
.jewerly{
   width: 175px;
   height: 20px;
   background-color: yellow;  
   position: relative;
   top: 15px;
}
.body{
    width: 300px;
    height: 350px;
    background-color: plum;  /* цвет головы */      /* круглая форма */
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 5%;
}
.puzo{
    width: 175px;
    height: 175px;
    background-color: palevioletred;  /* цвет головы */      /* круглая форма */
    border-radius: 50%;
    margin: 0 50px 0px 50px;
}
.lhand{
    width: 75px;
    height: 75px;
    background-color: plum;  
    margin: -100px 50px 50px -50px;
}
#lfingers{
    width: 30px;
    height: 75px;
    background-color: black;  
    border-radius: 25%;
    margin-left: -10px;
}
.rhand{
    width: 75px;
    height: 75px;
    background-color: plum;  
    margin: -125px 100px 50px 260px;
}
#rfingers{
    width: 30px;
    height: 75px;
    background-color: black;  
    border-radius: 25%;
    margin-left: 70px;
}
.rleg{
    width: 75px;
    height: 75px;
    background-color: plum;  
    margin: 200px 100px 50px 200px;
}
.rlfingers{
    width: 75px;
    height: 35px;
    background-color: black;  
    border-radius: 25%;
    margin-left: 350px;
    margin-top: 50px;

}
.lleg{
    width: 75px;
    height: 75px;
    background-color: plum;  
    margin: -130px 0px 50px 25px;
}
.llfingers{
    width: 75px;
    height: 35px;
    background-color: black;  
    border-radius: 25%;
    margin-left: 175px;
    margin-top: -35px;

}